<!-- CODE NEWSLETTER -->

<div class="newsletter">
    <div class="container-wrapper">
        <div class="container">
            <div class="overlap-group">
                <p class="text-wrapper">Consigue un vale del 10% ahora</p>
                <p class="matricularse-en">
                    Matricularse en Tupperware® Como nuevo suscriptor recibirás un vale del 10%, que podrás utilizar en
                    Tupperware® Canjea en nuestra Tienda Online<br />Puedes encontrar todas las condiciones de participación aquí.
                </p>
            </div>
            <img class="icon" src="img/icon.svg" />
            <p class="receta-del-ahorro-de">
                <span class="span">Receta<br /></span>
                <span class="text-wrapper-2">Del ahorro de tiempo al inteligente tenemos muchos buenas Recetas de cocina.</span>
            </p>
            <img class="img" src="img/image.svg" />
            <p class="estilo-de-vida">
                <span class="span">Estilo de Vida<br /></span>
                <span class="text-wrapper-2">Consejos útiles quesu vida simplificar.</span>
            </p>
            <img class="icon-2" src="img/icon-2.svg" />
            <p class="acciones-y-ofertas">
                <span class="span">Acciones y Ofertas<br /></span>
                <span class="text-wrapper-2">Del especial Oferta hasta Novedad, obtienes la información en tu bandeja de entrada.</span></p>
            <div class="form">
                <div class="input">
                    <div class="div-wrapper">
                        <div class="div">Tu correo electrónico</div>
                    </div>
                </div>
                <button class="button">
                    <div class="text-wrapper-3">¡Regístrate ahora!</div>
                </button>
                <div class="label">
                    <div class="background-border"></div>
                    <p class="espero-con-ansias-el">
                        <span class="text-wrapper-4">Espero con ansias el boletín de Tupperware.<br /></span>
                        <span class="text-wrapper-2">Acepto recibir periódicamente un boletín personal de acuerdo con la información de
                        </span>
                        <span class="text-wrapper-5">protección de datos </span>
                        <span class="text-wrapper-2">de Tupperware. yo puedo mio Puede revocar su consentimiento en
                            cualquier momento con efecto para el
                            futuro, por ejemplo haciendo clic en “Darse de baja” en cada newsletter o por correo
                            electrónico
                        </span>
                        <span class="text-wrapper-5">info.tupperwareperu.com.pe</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CODE PAGO SEGURO -->

<div class="pago-seguro">
    <div class="container-wrapper">
        <div class="container">
            <div class="master-card"></div>
            <div class="VISA"></div>
            <div class="paypal"></div>
            <div class="klarna"></div>
            <div class="vertical-border">
                <div class="DHL"></div>
            </div>
            <div class="list-wrapper">
                <div class="list">
                    <div class="item">
                        <svg class="icon" src="/TupperAngular/src/assets/img/entrega rapida.svg"></svg>
                        <div class="text-wrapper">Entrega rápida</div>
                    </div>
                    <div class="div">
                        <svg class="icon" src="/TupperAngular/src/assets/img/proteccion de datos.svg"></svg>
                        <div class="text-wrapper-2">Protección de Datos</div>
                    </div>
                    <div class="item-2">
                        <svg class="icon" src="/TupperAngular/src/assets/img/pago seguro.svg"></svg>
                        <p class="p">Pago Seguro con SSL Cifrado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CODE FOOTER -->

<div class="footer">
    <div class="div">
        <div class="container">
            <img class="tupperware-devider" src="./TupperAngular/src/assets/img/carrito de compra.svg" />
            <div class="link">
                <div class="text-wrapper">Compra</div>
            </div>
            <div class="overlap-group">
                <div class="div-wrapper">
                    <div class="text-wrapper-2">Catálogo digital</div>
                </div>
                <div class="link-2">
                    <div class="text-wrapper-2">Ofertas</div>
                </div>
            </div>
            <div class="link-3">
                <div class="text-wrapper-3">Anfitrionas</div>
            </div>
            <div class="link-4">
                <div class="text-wrapper-4">Beneficios de ser Anfitriona</div>
            </div>
            <div class="link-5">
                <div class="text-wrapper-5">Conviértete en Consultor</div>
            </div>
            <div class="link-6">
                <p class="p">Beneficios para las consultoras Tupperware</p>
            </div>
            <div class="link-7">
                <div class="text-wrapper-6">Acerca de Tupperware</div>
            </div>
            <div class="link-8">
                <div class="text-wrapper-7">Nuestra historia</div>
            </div>
            <div class="link-9">
                <div class="text-wrapper-8">Garantia e Información</div>
            </div>
            <div class="link-10">
                <div class="text-wrapper-9">Sin BPA</div>
            </div>
            <div class="link-11">
                <div class="text-wrapper-10">Sostenibilidad</div>
            </div>
            <div class="link-12">
                <div class="text-wrapper-11">Distritales Tupperware</div>
            </div>
            <div class="link-13">
                <div class="text-wrapper-12">Tienda Virtual</div>
            </div>
            <div class="link-14">
                <div class="text-wrapper-13">Preguntas frecuentes</div>
            </div>
            <div class="link-15">
                <div class="text-wrapper-14">Contáctenos</div>
            </div>
            <div class="link-16">
                <div class="text-wrapper-15">Información de envío</div>
            </div>
            <div class="link-17">
                <div class="text-wrapper-16">Devoluciones</div>
            </div>
            <img class="SVG" src="img/SVG.svg" />
            <img class="img" src="img/image.svg" />
            <img class="link-18" src="img/link-2.svg" />
            <img class="link-19" src="img/link-4.svg" />
            <img class="link-20" src="img/link.svg" />
            <img class="link-21" src="img/link-3.svg" />
        </div>
        <div class="horizontal-border-wrapper">
            <div class="horizontal-border">
                <p class="text-wrapper-17">
                    © 2024 Tupperware® es una marca registrada de Dart Industries Inc., una subsidiaria de Tupperware
                    Brands Corp. Reservados todos los derechos.
                </p>
            </div>
        </div>
    </div>
</div>