<div class="nav">
    <div class="div">
        <div class="div-2">
            <div class="container">
                <img class="line" src="img/line-1.svg" />
                <div class="link-shop">Inicio</div>
            </div>
            <div class="link-mach-party-wrapper">
                <div class="text-wrapper">Catálogo</div>
            </div>
            <div class="link-join-us-wrapper">
                <div class="link-join-us">Productos</div>
            </div>
            <div class="link-genusswelt-wrapper">
                <div class="text-wrapper">Nosotros</div>
            </div>
            <div class="link-magazin-wrapper">
                <div class="link-magazin">Plan Carrera</div>
            </div>
            <div class="link-inspiration-wrapper">
                <div class="link-inspiration">Experiencia</div>
            </div>
            <div class="div-wrapper">
                <div class="link-inspiration-2">Únete</div>
            </div>
            <div class="link">
                <div class="text-wrapper-2">Solicitar tu crédito</div>
            </div>
        </div>
        <img class="link-SVG" src="img/link-SVG.svg" />
    </div>
</div>