<div class="section">
    <div class="overlap-group-wrapper">
        <div class="overlap-group">
            <div class="container">
                <div class="background">
                    <div class="div">
                        <div class="heading-der-sommer">Promo Verano</div>
                        <div class="text-wrapper">Eco Active Verano</div>
                        <div class="link">
                            <div class="text-wrapper-2">Pide el tuyo</div>
                        </div>
                    </div>
                </div>
                <div class="tupperware-header"></div>
            </div>
            <div class="button-go-to-slide"></div>
            <div class="button-go-to-slide-2"></div>
            <div class="button-go-to-slide-3"></div>
            <div class="button-go-to-slide-4"></div>
            <div class="button-go-to-slide-5"></div>
            <div class="button-go-to-slide-6"></div>
            <div class="button-go-to-slide-7"></div>
            <div class="button-go-to-slide-8"></div>
            <div class="button-go-to-slide-9"></div>
            <div class="button-go-to-slide-10"></div>
            <img class="icon" src="./img/icon.svg" />
            <img class="img" src="./img/icon.svg" />
        </div>
    </div>
</div>

<!-- CODE STYLE -->

<div class="banner-estilo">
    <div class="div">
        <div class="img-estilo"></div>
        <div class="container-estilo">
            <div class="titulo-estilo">
                <div class="text-wrapper">Línea Estilo Tupperware</div>
            </div>
            <div class="descripcion-estilo">
                <p class="equipamiento-con">
                    Equipamiento con nuestra Línea Estilo Tupperware equipamiento básico ideal para Principiantes te
                    ofrece esto solución perfecta para almacenamiento, para hornear, para viajar y para muchas cosas más.
                </p>
            </div>
            <div class="boton">
                <div class="container">
                    <div class="text-wrapper-2">Descubre ahora</div>
                </div>
            </div>
        </div>
    </div>
</div>